<div id="teamImages">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/1-atlanta-hawks.png" id="atlanta" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/2-boston-celtics.png" id="boston" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/38-brooklyn-nets.png" id="brooklyn" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/3-charlotte-horne.png" id="charlotte" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/4-chicago-bulls.png" id="chicago" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/5-cleveland-cavs.png" id="cleveland" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/6-dallas-mavs.png" id="dallas" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/7-denver-nuggets.png" id="denver" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/8-detroit-pistons.png" id="detroit" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/9-golden-state.png" id="golden" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/10-houston-rockets.png" id="houston" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/11-indiana-pacers.png" id="indiana" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/12-la-clippers.png" id="los" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/13-la-lakers.png" id="los" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/14-memphis-grizzli.png" id="memphis" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/15-miami-heat.png" id="miami" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/16-milwaukee-bucks.png" id="milwaukee" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/17-minnesota-timbe.png" id="minnesota" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/19-new-orleans-pel.png" id="new" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/20-ny-knicks.png" id="new" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/33-oklahoma-city-t.png" id="oklahoma" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/21-orlando-magic.png" id="orlando" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/22-philadelphia-76.png" id="philadelphia" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/23-phoenix-suns.png" id="phoenix" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/24-portland-trailb.png" id="portland" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/25-sacramento-king.png" id="sacramento" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/26-san-antonio-spu.png" id="san" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/28-toronto-raptors.png" id="toronto" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/29-utah-jazz.png" id="utah" class="teamLogo">
  <img src="http://basketball.realgm.com/images/basketball/5.0/team_logos/nba/30-washington-dc.png" id="washington" class="teamLogo">
</div>
