<ul class="collapsible" data-collapsible="accordion" id="mainCollapsible">

</ul>
<!-- <div class="divider"></div> -->
<div class="row" id='teamOutput'>

</div>


<script type="text/javascript" src="/javascripts/app.js"></script>
