<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    
  </head>
  <body>
    <nav>
      <li>Trade Checker</li>
      <li>Public</li>
      <li>Data</li>
      <li>Account Management</li>
    </nav>

    <div id="bodyContainer">
      {{{body}}}
    </div>

  </body>
</html>
